.parent{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background: #ccc;
    display: grid;
    justify-content: center;
    align-items: center;
}
.child{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #fdfdfd;
}